<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jsh.mapper.BoardMapper">

<insert id="create">
<selectKey keyProperty="userNo" resultType="int" order="BEFORE">  
	SELECT NEXTVAL('seq_member') 
	FROM dual       
</selectKey>
<!-- A.I 시퀀스가 있는 경우 selectKey를 이용하여 DB에서 정보를 미리 가져온뒤 INSERT 한다 -->
	INSERT INTO board 
		 ( 
		   board_no,
		   title, 
		   content, 
		   writer
		 )
	VALUES 
	     (
	       SEQ_BOARD.NEXTVAL,
	       #{title}, 
	       #{content}, 
	       #{writer}
	     )
</insert>

<select id="read" resultType="board">
	SELECT board_no AS boardNo, 
		   title, 
		   content, 
		   writer, 
		   reg_date AS regDate
	  FROM board
	 WHERE board_no = #{boardNo}
</select>

<update id="update">
	UPDATE board 
	   SET title = #{title}, 
	       content = #{content}
	 WHERE board_no = #{boardNo}
</update>

<delete id="delete">
	DELETE FROM board 
	 WHERE board_no = #{boardNo}
</delete>

<select id="list" resultType="board">
	<![CDATA[
	SELECT board_no AS boardNo, 
		   title, 
		   content, 
		   writer, 
		   reg_date AS regDate
	  FROM board 
    WHERE board_no > 0 
 ORDER BY board_no DESC, 
 		   reg_date DESC
]]>
</select>
	
</mapper>